<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ProjetoFinal</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AgendaController</servlet-name>
    <servlet-class>controller.AgendaController</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AgendaController</servlet-name>
    <url-pattern>/AgendaController.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>MedicoController</servlet-name>
    <servlet-class>controller.MedicoController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MedicoController</servlet-name>
    <url-pattern>/MedicoController.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PacienteController</servlet-name>
    <servlet-class>controller.PacienteController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PacienteController</servlet-name>
    <url-pattern>/PacienteController.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UsuarioController</servlet-name>
    <servlet-class>controller.UsuarioController</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UsuarioController</servlet-name>
    <url-pattern>/UsuarioController.do</url-pattern>
  </servlet-mapping>

</web-app>